div.hx-alert.is-warning{
  background-color: rgba(246,138,49,.1);
  color:#f68a31;
  text-shadow: none;

  b{
    font-weight:bold;
  }

  a{
    color:orange;
    text-decoration: underline;
  }

  .hx-icon{
    color:#f68a31;
  }
}

div.hx-alert.is-danger{
  background-color: rgba(184,30,79,.1);
  color:#b81e4f;
  text-shadow: none;

  b{
    font-weight:bold;
  }

  a{
    color:red;
    text-decoration: underline;
  }

  .hx-icon{
    color:#b81e4f;
  }
}
