<div class="hx-flex hx-flex-justify-between hx-flex-align-center mt-8 mb-4">
  <h6 class="is-text-uppercase my-0">Tasks & Correspondence</h6>
  <div class="hx-flex">
    <button class="hx-button is-primary is-flat" (click)="openModal()"><span class="hx-icon-control"><i class="hx-icon icon-plus-outline"></i></span><span>Add Task</span></button>
  </div>
</div>

<div class="hx-card">
<hx-tabset [justified]="false">
  <hx-tab heading="Tasks">
    <div class="hx-alert is-danger">
    <span class="hx-icon-control mr-2">
      <i class="hx-icon is-medium icon-exclamation is-warning"></i>
    </span>
      <span class="hx-flex-1"><b>Unassigned roles</b> -
        <a (click)="gotoRoute('/care-plan/sharing/team-member/1')">Click here</a> to assign team members to roles.</span>
    </div>
    <div class="hx-button-group pb-8 has-text-centered is-perforated">
      <a class="hx-button is-small is-active">Pending</a>
      <a class="hx-button is-small">Completed</a>
      <!-- <a class="hx-button is-small is-active">All</a> -->
    </div>
    <table class="hx-table is-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th><a href="#"><i class="hx-icon icon-arrow-down"></i>Due</a></th>
        <th>Provider</th>
        <th class="is-text-center">Complete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of (tasks$ | async)">
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.dueDate | date:'dd/MM/yyyy'}}</td>
        <td>{{getProviderName(task.providers)}}</td>
        <td class="is-text-center"><div class="hx-checkbox-control">
          <input id="checkbox-{{task.id}}" name="{{task.id}}-checkbox" type="checkbox" class="hx-checkbox" title="Complete" [checked]="task.complete" />
          <label for="checkbox-{{task.id}}" class="hx-label"></label>
        </div></td>
      </tr>
      </tbody>
    </table>
  </hx-tab>
  <hx-tab heading="Team Correspondence">

    <div class="hx-alert is-danger">
    <span class="hx-icon-control mr-2">
      <i class="hx-icon is-medium icon-exclamation"></i>
    </span>
      <span class="hx-flex-1"><b>Unassigned roles</b> -
        <a (click)="gotoRoute('/care-plan/sharing/team-member/1')">Click here</a> to assign team members to roles.</span>
    </div>

    <div class="hx-button-group pb-8 has-text-centered is-perforated">
      <a class="hx-button is-small">Pending</a>
      <a class="hx-button is-small is-active">Completed</a>
      <!-- <a class="hx-button is-small">All</a> -->
    </div>
    <table class="hx-table is-striped">
      <thead>
      <tr>
        <th>Description</th>
        <th><a href="#"><i class="hx-icon icon-arrow-up"></i>Due</a></th>
        <th>Provider</th>
        <th class="is-text-center">Complete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of (tasks$ | async)">
        <td>{{task.description}}</td>
        <td>{{task.dueDate | date:'dd/MM/yyyy'}}</td>
        <td>{{task.providers}}</td>
        <td class="is-text-center"><div class="hx-checkbox-control">
          <input id="checkbox-{{task.id}}" name="{{task.id}}-checkbox" type="checkbox" class="hx-checkbox" title="Complete" [checked]="task.complete" />
          <label for="checkbox-{{task.id}}" class="hx-label"></label>
        </div></td>
      </tr>

      </tbody>
    </table>
  </hx-tab>
</hx-tabset>
</div>
