.summaryText{
  position: relative;
  cursor: pointer;
  width:fit-content;
  .editIcon {
    right: initial;
    top:initial;
    margin-top:initial;
  }
}


.hx-tab-content{
  flex:1;overflow:auto
}


