<div *ngIf="!isEditMode && summaryText!==''" class="mt-3 mb-8" (mouseenter)="toggleEditHint()" (mouseleave)="toggleEditHint()" (click)="editSummary()">
  <small class="is-text-uppercase is-text-lighter is-text-bold">Summary</small>
  <div class="summaryText">{{summaryText}} <span *ngIf="showEditHint" class="editIcon hx-icon icon-edit is-text-lighter"></span></div>
</div>
<div *ngIf="isEditMode" class="mt-8">
  <div class="hx-input-control mb-2">
    <textarea id="textarea-sample" class="hx-textarea" rows="4" required [(ngModel)]="summaryText" autofocus></textarea>
    <label for="textarea-sample" class="hx-label">Summary</label>
  </div>
  <p class="has-text-right">
    <button class="hx-button is-flat is-small" (click)="cancel($event)"><span>Cancel</span></button>
    <button class="hx-button is-primary is-small" (click)="save($event)"><span>Save</span></button>
  </p>
</div>
<button class="hx-button is-small my-4" *ngIf="!isEditMode && summaryText===''" (click)="isEditMode=true"><span class="hx-icon-control"><i class="hx-icon icon-plus-outline"></i></span><span>Summary</span></button>
