@import "../../../../../node_modules/@hxui/css/static/static/scss/variables";

app-patient-timeline{

  .timelineContainer{
    //padding: 1rem;
  }
}

.hx-toolbar.filterBy{
  background-color:rgba($color-gray-lightest,.2);
}

ul.timeline{

    padding:0;

    > li {
      list-style: none;
      position:relative;



      &:not(:last-child):after{
        content: '';
        position: absolute;
        top: 3.7rem;
        left: 2.2rem;
        bottom: -0.80rem;
        width: 2px;
        background-color: rgba($color-gray-lighter,.4);;
      }

      a {
        padding:1rem;
        color:$color-dark;
        transition: all .15s ease-in-out;

        .timeline__icon{

          .hx-icon{
            color:$color-dark;
            border: 3px;
            border-radius:1.5rem;
            border:3px solid rgba($color-gray-lighter,.4);;
            padding:1rem;
            transition: all .15s ease-in-out;
          }
        }
        &:hover {
          text-decoration: none;
          //background-color:rgba($color-gray-lightest,.4);
          color: $color-primary;
          .timeline__icon .hx-icon {
            border-color:$color-primary;
          }
        }
      }
    }
}
