<div class="hx-toolbar">
  <span>Patient Timeline</span>
  <!-- <div class="hx-spacer"></div>
  <a class="hx-button is-flat">
    <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
  </a> -->
</div>
<div class="hx-toolbar is-divided filterBy">
  <span class="hx-flex-align-self-start mt-1">Filter By</span>
  <div class="hx-spacer"></div>
  <div class="hx-flex hx-flex-column">
    <div class="hx-dropdown" hxDropdown [isRight]="true" [autoClose]="false">
      <button class="hx-button is-flat is-small hx-button-dropdown" hxDropdownToggle type="button">
        <span class="hx-icon-control"><i class="icon is-text-dark "
                                          [class.icon-file-outline]="filterArtefactsBy===ArtefactType.All"
                                          [class.icon-list-outline]="filterArtefactsBy===ArtefactType.ConsultNotes"
                                          [class.icon-arrow-right]="filterArtefactsBy===ArtefactType.CorrespondenceIn"
                                          [class.icon-arrow-left]="filterArtefactsBy===ArtefactType.CorrespondenceOut"
                                          [class.icon-pathology-outline]="filterArtefactsBy===ArtefactType.Pathology"
                                          [class.icon-radiology]="filterArtefactsBy===ArtefactType.Radiology"></i></span>
        <ng-container [ngSwitch]="filterArtefactsBy">
              <span class="is-text-dark is-text-capitalise" *ngSwitchCase="ArtefactType.All">All Documents</span>
              <span class="is-text-dark is-text-capitalise" *ngSwitchCase="ArtefactType.ConsultNotes">Consult Notes</span>
              <span class="is-text-dark is-text-capitalise" *ngSwitchCase="ArtefactType.CorrespondenceIn">Correspondence In</span>
              <span class="is-text-dark is-text-capitalise" *ngSwitchCase="ArtefactType.CorrespondenceOut">Correspondence Out</span>
              <span class="is-text-dark is-text-capitalise" *ngSwitchCase="ArtefactType.Pathology">Pathology Results</span>
              <span class="is-text-dark is-text-capitalise" *ngSwitchCase="ArtefactType.Radiology">Radiology Results</span>
        </ng-container>
        <span class="hx-icon-control"><i class="icon is-text-dark icon-caret-down"></i></span>
      </button>
      <div class="hx-dropdown-menu" *hxDropdownMenu>
        <div class="hx-dropdown-header">Type</div>
        <a class="hx-dropdown-item" [class.is-active]="filterArtefactsBy===ArtefactType.All" (click)="filterArtefactsBy=ArtefactType.All"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-file-outline mr-2"></i>All Documents</div></a>
        <a class="hx-dropdown-item" [class.is-active]="filterArtefactsBy===ArtefactType.ConsultNotes" (click)="filterArtefactsBy=ArtefactType.ConsultNotes"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-list-outline mr-2"></i>Consult Notes</div></a>
        <a class="hx-dropdown-item" [class.is-active]="filterArtefactsBy===ArtefactType.CorrespondenceIn" (click)="filterArtefactsBy=ArtefactType.CorrespondenceIn"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-arrow-right mr-2"></i>Correspondence In</div></a>
        <a class="hx-dropdown-item" [class.is-active]="filterArtefactsBy===ArtefactType.CorrespondenceOut" (click)="filterArtefactsBy=ArtefactType.CorrespondenceOut"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-arrow-left mr-2"></i>Correspondence Out</div></a>
        <a class="hx-dropdown-item" [class.is-active]="filterArtefactsBy===ArtefactType.Pathology" (click)="filterArtefactsBy=ArtefactType.Pathology"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-pathology mr-2"></i>Pathology Results</div></a>
        <a class="hx-dropdown-item" [class.is-active]="filterArtefactsBy===ArtefactType.Radiology" (click)="filterArtefactsBy=ArtefactType.Radiology"><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-imaging mr-2"></i>Imaging Results</div></a>
        <div class="hx-dropdown-divider"></div>
        <div class="hx-dropdown-header">Date range <a href="">clear filters</a></div>
        <div class="hx-flex hx-flex-column pl-4 pr-4 mt-4">
          <div class="hx-input-group">
            <div class="hx-input-control mb-0">
              <input id="mhrFilterDateFrom" class="hx-input" type="text" required>
              <label class="hx-label">From</label>
              <div class="hx-help">&nbsp;</div>
            </div>
            <i id="fromDateCalendar" class="hx-icon icon-calendar-outline"></i>
          </div>
          <div class="hx-input-group" id="toContainer">
            <div class="hx-input-control mb-0">
              <input id="mhrFilterDateTo" class="hx-input" type="text" required>
              <label class="hx-label">To</label>
              <div class="hx-help">&nbsp;</div>
            </div>
            <i id="toDateCalendar" class="hx-icon icon-calendar-outline"></i>
          </div>
        </div>
      </div>
    </div>


    <!--<button class="hx-button is-flat is-small" type="button">-->
      <!--<span class="hx-icon-control"><i class="icon is-text-dark icon-calendar-outline"></i></span>-->
      <!--<span class="is-text-dark is-text-capitalise">No date range</span>-->
    <!--</button>-->
  </div>
</div>
<div class="timelineContainer is-divided is-scrollable">
  <ul class="timeline">
    <li class="timeline__item" *ngFor="let artefact of (artefacts | artefactType : filterArtefactsBy); let i = index;">
      <a (click)="loadArtefact(i)" class="hx-flex">
      <div class="timeline__icon"><i class="hx-icon" [class.icon-pathology]="artefact.type===ArtefactType.Pathology"
        [class.icon-radiology]="artefact.type===ArtefactType.Radiology"
        [class.icon-list-outline]="artefact.type===ArtefactType.ConsultNotes"
        [class.icon-arrow-right]="artefact.type===ArtefactType.CorrespondenceIn"
        [class.icon-arrow-left]="artefact.type===ArtefactType.CorrespondenceOut"></i>
      </div>
        <div class="hx-flex hx-flex-1">
          <div class="hx-flex-1">
            <div class="pl-4">
              <strong>{{artefact.date}}</strong><br>
              <small>{{artefact.hcp}}</small>
              <p>{{artefact.description}}</p>
            </div>
          </div>
          <i class="icon icon-flag is-text-warning mt-1" *ngIf="artefact.linked"></i>
        </div>
      </a>
    </li>
  </ul>
  <!--<ul class="hx-list has-status has-type is-joined">-->
    <!--<li class="is-not-checked" *ngFor="let artefact of (artefacts | artefactType : filterArtefactsBy); let i = index;"-->
        <!--[class.is-pathology]="artefact.type===ArtefactType.Pathology"-->
        <!--[class.is-radiology]="artefact.type===ArtefactType.Radiology"-->
        <!--[class.is-consult]="artefact.type===ArtefactType.ConsultNotes"-->
        <!--[class.is-correspondence-in]="artefact.type===ArtefactType.CorrespondenceIn"-->
        <!--[class.is-correspondence-out]="artefact.type===ArtefactType.CorrespondenceOut">-->
      <!--<div class="hx-flex">-->
        <!--<div class="hx-flex-1">-->
          <!--<button class="hx-button is-flat is-small" (click)="loadArtefact(i)"><span>{{artefact.date}}</span><span class="hx-icon-control"><i class="icon icon-angle-right"></i></span></button>-->
          <!--<div class="hx-group pl-3">-->
            <!--<p><strong>{{artefact.hcp}}</strong><p>-->
            <!--<p>{{artefact.description}}</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<i class="icon icon-flag is-text-warning mt-1" *ngIf="artefact.linked"></i>-->
      <!--</div>-->
    <!--</li>-->
  <!--</ul>-->
</div>
