<div class="hx-toolbar patientDetails is-elevate-2 is-sticky" [class.is-perforated]="!isSetup && !isDashboard">
  <span class="is-text-info is-text-bold">Horatio (Bud) Farnswell</span>
  <div class="patientDetails__demographics">
    <div class="hx-flex hx-flex-align-center"><span class="hx-icon icon-female is-medium"></span> 23/02/1978 (39)</div>
    <div class="hx-flex hx-flex-align-center"><span class="hx-icon icon-home-outline is-medium"></span> 29 Grevillia Lane Port Bunyip NSW 2198</div>
<!--    <div class="hx-flex hx-flex-align-center"><span class="hx-icon icon-list-outline is-medium"></span> 3456 3455 4567</div> -->
    <div class="hx-flex hx-flex-align-center"><span class="hx-icon icon-telephone-outline is-medium"></span> 02 9876 5432</div>
    <div class="hx-flex hx-flex-align-center"><span class="hx-icon icon-iphone is-medium"></span> 0400 112 233</div>
  </div>
<!--  <div class="hx-spacer"></div>
  <button class="hx-button is-flat"><i class="hx-icon icon-more"></i></button> -->
</div>
<section class="hx-section pt-0 pb-0 hx-flex hx-flex-column">
  <div class="hx-toolbar is-elevate-2 is-sticky py-0 stepperToolbar hx-bg-white" *ngIf="!isSetup && !isDashboard">
    <div class="hx-stepper is-narrow planStepper">
      <div class="hx-stepper-header">
        <ng-container *ngFor="let step of stepperData; let i = index">
            <div class="hx-stepper-step"
                 [class.is-shown]="step.showing"
                 [class.is-editable]="step.editable"
                 [class.is-complete]="step.complete"
                 [class.is-active]="step.active"
                 [class.has-error]="step.error"
                 (click)="gotoRoute(step.url)">
               <span class="hx-stepper-step-step">
                  <i class="hx-icon icon-check-empty" *ngIf="step.complete"></i>
                  <i class="hx-icon icon-exclamation" *ngIf="step.error"></i>
                  <div *ngIf="!step.complete && !step.error">{{(i+1)}}</div>
                </span>
                <div class="hx-stepper-step-label">{{step.title}}</div>
            </div>
            <hr class="divider" />
        </ng-container>


      </div>
    </div>
    <div class="hx-spacer hx-flex hx-flex-justify-center hx-flex-align-center stepperActionDivider" *ngIf="currentStep<(stepperData.length-1)">
     <i class="icon icon-angle-right"></i>
    </div>
    <a class="hx-button is-primary" (click)="next()"  *ngIf="currentStep<(stepperData.length-1)">
      <div>Next</div>
      <i class="hx-icon-control"><i class="icon icon-angle-right"></i></i>
    </a>
    <!--<ul class="hx-nav is-flat">-->
      <!--<li class="hx-nav-item">-->
        <!--<a href="#" class="hx-nav-link" [routerLink]="['/care-plan/dashboard']" routerLinkActive="is-active"><span class="hx-icon icon-dashboard-outline is-medium"></span> Patient Dashboard</a>-->
      <!--</li>-->
      <!--<li class="hx-nav-item">-->
        <!--<a href="#" class="hx-nav-link" [routerLink]="['/care-plan/plan']" routerLinkActive="is-active"><span class="hx-icon icon-today-outline is-medium"></span> Plan of Care</a>-->
      <!--</li>-->
      <!--<li class="hx-nav-item">-->
        <!--<a href="#" class="hx-nav-link"  [routerLink]="['/care-plan/sharing']" routerLinkActive="is-active"><span class="hx-icon icon-send is-medium "></span> Sharing</a>-->
      <!--</li>-->
      <!--<li class="hx-nav-item">-->
        <!--<a href="#" class="hx-nav-link"  [routerLink]="['/care-plan/medicare']" routerLinkActive="is-active"><span class="hx-icon icon-list-outline is-medium"></span> Medicare</a>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
  <router-outlet></router-outlet>

</section>
