@import '../../../node_modules/@hxui/css/static/static/scss/variables';

.planStepper{
  width: 100%;
  //margin: 0 6rem 0 15rem;
  .hx-stepper-header {
    box-shadow: none;
  }
}

.stepperToolbar{
  padding-left: 15rem !important;
  padding-right: 19rem !important;
}

.stepperActionDivider{
  min-width: 3rem
}

.hxui-reset .hx-stepper .hx-stepper-step.is-shown{
  background-color: rgba(0, 0, 0, 0.03);
  //-webkit-box-shadow: 0 1px 0 0 $color-primary;
  //box-shadow: 0 1px 0 0 $color-primary;
  //border-bottom: 1px solid $color-primary;
}
