<div class="hx-flex hx-flex-justify-between hx-flex-align-center mb-4">
  <div>
    <h6 class="is-text-uppercase my-0 is-text-lighter" *ngIf="hasAssigned(teamMember)">{{teamMember.assigned.name}}</h6>
    <span class="hx-badge is-warning" *ngIf="!hasAssigned(teamMember)"><span class="hx-badge-content">Unassigned</span></span>
    <h3 class="is-text-info is-text-uppercase"> {{getProviderTypeName(teamMember.type)}}</h3>
  </div>
</div>

<div class="hx-card">
<hx-tabset>
<hx-tab>
  <ng-template hxTabHeading>
    <i class="hx-icon icon-person-outline mr-2"></i> Role
  </ng-template>
  <ng-container *ngIf="hasAssigned(teamMember)">
  <div class="hx-columns  py-2 px-2 is-perforated">
    <div class="hx-column is-8">
      <div>
        <b class="is-text-info">{{teamMember.assigned.name}}</b><br>
        {{getProviderTypeName(teamMember.type)}}<br>
        <p><small><b>Assigned:</b> 21/06/2017</small></p>
      </div>
    </div>
    <div class="hx-column is-4 has-text-right hx-flex hx-flex-column hx-flex-space-between">
      <button class="hx-button is-primary">Change Provider</button>
    </div>
  </div>
  <div class="hx-columns  py-2 px-2 is-perforated">
    <div class="hx-column is-8">
      <div>
        <b>Eating Well Dietitians</b><br>
        123 Any Street<br>
        Wellington, NSW 2334
        <p><small>telly.eatwell@eatingwell.com.au</small></p>
        <i class="hx-icon icon-iphone"></i> 0405768234<br>
        <i class="hx-icon icon-telephone-outline"></i> 02 9123 3456
      </div>
    </div>
    <div class="hx-column is-4 has-text-right hx-flex hx-flex-column hx-flex-space-between">
      <button class="hx-button is-primary is-outlined" (click)="openModal()">Edit</button>
    </div>
  </div>
  </ng-container>
  <ng-container *ngIf="!hasAssigned(teamMember)">
    <div class="hx-columns  pt-2 pb-5 px-2 is-perforated">
      <div class="hx-column is-12 has-text-centered">
        <button class="hx-button is-primary" (click)="assignProviderModal()">Assign Provider</button>
      </div>
    </div>
  </ng-container>
  <p class="has-text-centered  pb-3 pt-4 px-3">
    Need a team participation letter and referral form? <a href="#">Generate documentation</a> <br>
    No electronic access. <a href="#">Enable access and collaboration</a> </p>
</hx-tab>
  <hx-tab [disabled]="!hasAssigned(teamMember)">
    <ng-template hxTabHeading>
      <i class="hx-icon icon-file-outline  mr-2"></i> Documentation
    </ng-template>
    Html tab heading and callback!
  </hx-tab>
  <hx-tab  [disabled]="!hasAssigned(teamMember)">
    <ng-template hxTabHeading>
      <i class="hx-icon icon-react  mr-2"></i> Collaboration
    </ng-template>
    Html tab heading and callback!
  </hx-tab>

</hx-tabset>
</div>



