<hxa-tabular
  [rows]="rowData"
  [columns]="columnData"
  [config]="tabularConfig">
</hxa-tabular>
<br>
<p class="has-text-right">
  <button class="hx-button is-primary" (click)="selectTab(1)"><span>Medications</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
</p>
