<section class="hx-section pl-4 pr-4 scrollable-y is-comfortable">
  <div class="hx-flex hx-flex-justify-between hx-flex-align-center mb-4">
    <div>
      <h6 class="is-text-uppercase my-0 is-text-lighter">Monday 23 April 2017</h6>
      <h3 class="is-text-info is-text-uppercase">Care Planning Tracking</h3>
    </div>
  </div>

  <div class="hx-card">

    <hx-tabset [justified]="true" [hasInfo]="true">
      <hx-tab>
        <ng-template hxTabHeading>
          <h6 class="mt-0 mb-1">Overdue</h6>
          <div class="hx-columns mt-0 pt-0">
            <div class="hx-column hx-flex-grow">
              <h6 class="mt-0 mb-0">10 <small>in April</small></h6>
              <h6 class="mt-0 mb-0">13 <small>in total</small></h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
            </div>
          </div>
        </ng-template>
       <h4 class="is-info">Overdue Care Plans</h4>
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <!-- <th width="1" class="checkboxAll"><div class="hx-checkbox-control">
              <input id="checkbox-all" name="all-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></th> -->
            <th>Due date</th>
            <th>Patient Name</th>
            <th>Plan Type</th>
            <th class="actions">Actions</th>
          </tr>
          </thead>
         
          <tbody class="hx-table-group">
          <tr>
              
            <th colspan="4"><div class="is-info">March 2017 <small>3 overdue</small> <span class="hx-icon icon-angle-down"></span></div></th>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td>03/03/2017</td>
            <td><a href="#">Horatio (Bud) Farnsworth</a></td>
            <td>GPMP + TCA</td>
            <td>
              <a class="hx-button is-flat">
                <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
              </a>
            </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>19/03/2017</td>
            <td><a href="#">Julie Stanes</a></td>
            <td>GPMP</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
            </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          </tbody>
          <tbody class="hx-table-group">
          <tr>
            <th colspan="5"><div class="is-info">April 2017 <small>10 overdue</small> <span class="hx-icon icon-angle-down"></span></div></th>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>03/03/2017</td>
            <td><a href="#">Horatio (Bud) Farnsworth</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>19/03/2017</td>
            <td><a href="#">Julie Stanes</a></td>
            <td>GPMP</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>03/03/2017</td>
            <td><a href="#">Horatio (Bud) Farnsworth</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>19/03/2017</td>
            <td><a href="#">Julie Stanes</a></td>
            <td>GPMP</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>03/03/2017</td>
            <td><a href="#">Horatio (Bud) Farnsworth</a></td>
            <td>GPMP + TCA</td><td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>19/03/2017</td>
            <td><a href="#">Julie Stanes</a></td>
            <td>GPMP</td><td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td><td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td><td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          </tbody>
        </table>
      </hx-tab>
      <hx-tab>
        <ng-template hxTabHeading>
          <h6 class="mt-0 mb-1">Upcoming</h6>
          <div class="hx-columns mt-0 pt-0">
            <div class="hx-column hx-flex-grow">
              <h6 class="mt-0 mb-0">23 <small>in next 3 months</small></h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
            </div>
          </div>
        </ng-template>
        <h4 class="is-info">Upcoming Care Plans</h4>
        <table class="hx-table is-striped">
          <thead>
          <tr>
            <!-- <th width="1" class="checkboxAll"><div class="hx-checkbox-control">
              <input id="checkbox-all" name="all-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></th> -->
            <th>Due date</th>
            <th>Patient Name</th>
            <th>Plan Type</th>
            <th class="actions">Actions</th>
          </tr>
          </thead>
         
          <tbody class="hx-table-group">
          <tr>
              
            <th colspan="4"><div class="is-info">May 2018 <small>3 due</small> <span class="hx-icon icon-angle-down"></span></div></th>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <td>03/03/2017</td>
            <td><a href="#">Horatio (Bud) Farnsworth</a></td>
            <td>GPMP + TCA</td>
            <td>
              <a class="hx-button is-flat">
                <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
              </a>
            </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>19/03/2017</td>
            <td><a href="#">Julie Stanes</a></td>
            <td>GPMP</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
            </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          </tbody>
          <tbody class="hx-table-group">
          <tr>
            <th colspan="5"><div class="is-info">June 2018 <small>10 due</small> <span class="hx-icon icon-angle-down"></span></div></th>
          </tr>
          </tbody>
          <tbody>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>03/03/2017</td>
            <td><a href="#">Horatio (Bud) Farnsworth</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>19/03/2017</td>
            <td><a href="#">Julie Stanes</a></td>
            <td>GPMP</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>03/03/2017</td>
            <td><a href="#">Horatio (Bud) Farnsworth</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>19/03/2017</td>
            <td><a href="#">Julie Stanes</a></td>
            <td>GPMP</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td>
            <td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>03/03/2017</td>
            <td><a href="#">Horatio (Bud) Farnsworth</a></td>
            <td>GPMP + TCA</td><td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>19/03/2017</td>
            <td><a href="#">Julie Stanes</a></td>
            <td>GPMP</td><td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td><td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          <tr>
            <!-- <td><div class="hx-checkbox-control">
              <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
              <label for="checkbox-19" class="hx-label"></label>
            </div></td> -->
            <td>22/02/2017</td>
            <td><a href="#">Jennifer Oldershaw</a></td>
            <td>GPMP + TCA</td><td>
                <a class="hx-button is-flat">
                  <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
                </a>
              </td>
          </tr>
          </tbody>
        </table>
      </hx-tab>
      <hx-tab>
        <ng-template hxTabHeading>
          <h6 class="mt-0 mb-1">Assigned</h6>
          <div class="hx-columns mt-0 pt-0">
            <div class="hx-column hx-flex-grow">
              <h6 class="mt-0 mb-0">40 <small>not started</small></h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
            </div>
          </div>
        </ng-template>
        Tab 3 content
      </hx-tab>
      <hx-tab>
        <ng-template hxTabHeading>
          <h6 class="mt-0 mb-1">In Progress</h6>
          <div class="hx-columns mt-0 pt-0">
            <div class="hx-column hx-flex-grow">
              <h6 class="mt-0 mb-0">23 <small>incomplete</small></h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
            </div>
          </div>
        </ng-template>
        Tab 4 content
      </hx-tab>
      <hx-tab>
        <ng-template hxTabHeading>
          <h6 class="mt-0 mb-1">Team Participation</h6>
          <div class="hx-columns mt-0 pt-0">
            <div class="hx-column hx-flex-grow">
              <h6 class="mt-0 mb-0">18 <small>require attention</small></h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
            </div>
          </div>
        </ng-template>
        Tab 5 content
      </hx-tab>
      <hx-tab>
        <ng-template hxTabHeading>
          <h6 class="mt-0 mb-1">Billing</h6>
          <div class="hx-columns mt-0 pt-0">
            <div class="hx-column hx-flex-grow">
              <h6 class="mt-0 mb-0">9 <small>require attention</small></h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
            </div>
          </div>
        </ng-template>
        Tab 6 content
      </hx-tab>
      <hx-tab>
        <ng-template hxTabHeading>
          <h6 class="mt-0 mb-1">Completed</h6>
          <div class="hx-columns mt-0 pt-0">
            <div class="hx-column hx-flex-grow">
              <h6 class="mt-0 mb-0">23 <small>in April</small></h6>
              <h6 class="mt-0 mb-0">40 <small>this year</small></h6>
              <h6 class="mt-0 mb-0">&nbsp;</h6>
            </div>
          </div>
        </ng-template>
        Tab 7 content
      </hx-tab>
    </hx-tabset>
  </div>

</section>
