
app-tracking{


table.hx-table > thead > tr > th{
  &.checkboxAll {
    padding-bottom: .9rem;
    text-align: center;
  }

  .hx-dropdown-menu{
      a{
        text-transform: initial;
        &:hover{
          color:#fff;
        }
      }
  }
}

.actions{
  text-align: center;
  width:5%;
}

table.hx-table tbody > tr > td:last-child{
  width:5%;
  text-align: center;
} 

}