<div class="hx-flex hx-flex-justify-between hx-flex-align-center mb-4">
  <h6 class="is-text-uppercase my-0">{{goal.title}}</h6>
  <button class="hx-button is-danger is-flat" *ngIf="showRemoveGoal"><span class="hx-icon-control"><i class="hx-icon icon-bin-outline"></i></span><span>Remove Goal</span></button>
</div>
<div class="hx-card" [class.pt-8]="isEditMode" (mouseenter)="toggleEditHint()" (mouseleave)="toggleEditHint()" (click)="editMode()">
  <div class="hx-card-content" [innerHTML]="goal.description" *ngIf="!isEditMode"></div>
  <div class="hx-card-content" *ngIf="isEditMode">
    <div class="hx-input-control mb-0">
      <textarea id="textarea" name="textarea" class="hx-textarea" required [(ngModel)]="goal.description"></textarea>
      <label for="textarea" class="hx-label">Enter a description</label>
    </div>
    <p class="has-text-right">
      <button class="hx-button is-flat is-small" (click)="cancel($event)"><span>Cancel</span></button>
      <button class="hx-button is-primary is-small" (click)="save($event)"><span>Save</span></button>
    </p>
  </div>
  <span *ngIf="showEditHint" class="editIcon hx-icon icon-edit is-text-lighter"></span>
</div>
