<table class="hx-table is-striped">
  <thead>
  <tr>
    <th width="1"><div class="hx-checkbox-control">
      <input id="checkbox-all" name="all-checkbox" type="checkbox" class="hx-checkbox" title="Select All" checked />
      <label for="checkbox-all" class="hx-label"></label>
    </div></th>
    <th>Drug Name</th>
    <th>Strength</th>
    <th>Dosage</th>
    <th>Date</th>
    <th width="25%">Reason/Condition</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><div class="hx-checkbox-control">
      <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All"  checked />
      <label for="checkbox-19" class="hx-label"></label>
    </div></td>
    <td>ALLOPURINOL tablet</td>
    <td>100mg</td>
    <td>1 daily</td>
    <td>2016</td>
    <td>
      <div class="hx-flex">
      <div class="hx-input-control mb-0">
      <div class="hx-select-control">
        <select class="hx-select" id="state">
          <option value="">Please select</option>
          <option>Gout</option>
          <option selected>Ischaemic Heart Disease (IHD)</option>
          <option>Allergic Rhinitis</option>
          <option>Diabetes Mellitus Type II</option>
        </select>
      </div>
    </div>
        <button class="hx-button is-round is-flat is-small">
          <span class="hx-icon-control">
            <i class="hx-icon icon-plus-outline"></i>
          </span>
        </button>
      </div>
    </td>
  </tr>
  <tr>
    <td><div class="hx-checkbox-control mb-0">
      <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All"  checked />
      <label for="checkbox-19" class="hx-label"></label>
    </div></td>
    <td>ASTRIX tablet</td>
    <td>100mg</td>
    <td>1 daily</td>
    <td>2013</td>
    <td><div class="hx-flex">
      <div class="hx-input-control mb-0">
        <div class="hx-select-control">
          <select class="hx-select" id="state">
            <option value="">Please select</option>
            <option selected>Gout</option>
            <option>Ischaemic Heart Disease (IHD)</option>
            <option>Allergic Rhinitis</option>
            <option>Diabetes Mellitus Type II</option>
          </select>
        </div>
      </div>
      <button class="hx-button is-round is-flat is-small">
          <span class="hx-icon-control">
            <i class="hx-icon icon-plus-outline"></i>
          </span>
      </button>
    </div></td>
  </tr>
  <tr>
    <td><div class="hx-checkbox-control mb-0">
      <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All"  checked />
      <label for="checkbox-19" class="hx-label"></label>
    </div></td>
    <td>BICOR tablet</td>
    <td>10mg</td>
    <td>1 in the morning</td>
    <td>2010</td>
    <td><div class="hx-flex">
      <div class="hx-input-control mb-0">
        <div class="hx-select-control">
          <select class="hx-select" id="state">
            <option value="">Please select</option>
            <option>Gout</option>
            <option>Ischaemic Heart Disease (IHD)</option>
            <option selected>Allergic Rhinitis</option>
            <option>Diabetes Mellitus Type II</option>
          </select>
        </div>
      </div>
      <button class="hx-button is-round is-flat is-small">
          <span class="hx-icon-control">
            <i class="hx-icon icon-plus-outline"></i>
          </span>
      </button>
    </div></td>
  </tr>
  <tr>
    <td><div class="hx-checkbox-control mb-0">
      <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All"  checked />
      <label for="checkbox-19" class="hx-label"></label>
    </div></td>
    <td>Biabex</td>
    <td>100mg</td>
    <td>1 daily</td>
    <td>2010</td>
    <td>
      <div class="hx-flex">
        <div class="hx-input-control mb-0">
          <div class="hx-select-control">
            <select class="hx-select" id="state">
              <option value="">Please select</option>
              <option>Gout</option>
              <option>Ischaemic Heart Disease (IHD)</option>
              <option>Allergic Rhinitis</option>
              <option selected>Diabetes Mellitus Type II</option>
            </select>
          </div>
        </div>
        <button class="hx-button is-round is-flat is-small">
          <span class="hx-icon-control">
            <i class="hx-icon icon-plus-outline"></i>
          </span>
        </button>
      </div></td>
  </tr>
  </tbody>
</table>
<br>
<p class="has-text-right">
  <button class="hx-button" (click)="selectTab(0)"><span class="hx-icon-control"><span class="hx-icon icon-angle-left"></span></span><span>Conditions</span> </button>
  <button class="hx-button is-primary" (click)="selectTab(2)"><span>Allergies</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
</p>
