<section class="hx-section pl-4 pr-4 is-comfortable">

  <h3 class="is-text-info is-text-uppercase">Care Plan Setup</h3>

  <div class="hx-card">
  <div class="hx-stepper">
    <div class="hx-stepper-header">
      <ng-container *ngFor="let step of stepperData; let i = index">
        <div class="hx-stepper-step" (click)="selectStep(i)" [class.is-editable]="step.editable"  [class.is-complete]="step.complete"  [class.is-active]="step.active">
        <span class="hx-stepper-step-step">
          <i class="hx-icon icon-check-empty" *ngIf="step.complete"></i>
          <span *ngIf="!step.complete">{{(i+1)}}</span>
        </span>
          <div class="hx-stepper-step-label">{{step.title}}</div>
        </div>
        <hr class="divider" />
      </ng-container>

    </div>
    <div class="hx-stepper-items">
      <!-- items here start -->
      <ng-container *ngFor="let step of stepperData; let i = index">
        <!-- Patient consent -->
        <div class="hx-stepper-content" *ngIf="i===0 && step.active">
          <div class="hx-stepper-wrapper">
            <div class="hx-columns">
              <div class="hx-column">
                <div class="hx-checkbox-control hx-flex hx-flex-justify-center mt-0">
                <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" [ngModel]="patientConsent" (ngModelChange)="onPatientConsentChange($event)" />
                <label for="checkbox-19" class="hx-label"></label>
              </div>
              </div>
              <div class="hx-column is-11">I have explained the steps and any potential costs involved, and the patient has agreed to proceed with the GP Management Plan and/or Team Care Arrangements.

                <p></p><strong>I confirm that the patient:</strong>
                <ul>
                  <li>Consents to sharing their care plan electronically with relevant health care providers; and</li>
                  <li>Is aware that the care plan can include personal and sensitive information and this information is shared for the purpose of helping relevant healthcare professionals to support them through their healthcare journey.</li>
                </ul>  
                <p></p>Further information: <u>Patient Consent Form</u>
              </div>
            </div>
            <br>
            <p class="has-text-right">
              <button class="hx-button is-primary" (click)="selectStep(1)" [disabled]="!patientConsent"><span>Select Primary GP</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
            </p>
          </div>
        </div>
        <!-- Select Primary GP -->
        <div class="hx-stepper-content" *ngIf="i===1 && step.active">
          <div class="hx-stepper-wrapper">
            <div class="hx-columns" [class.is-perforated]="showResults">
              <div class="hx-column is-3"></div>
              <div class="hx-column is-6">
                <div class="hx-input-group">
                  <div class="hx-input-control my-4">
                    <input class="hx-input" type="text"
                           [(ngModel)]="linkMember"
                           required
                           appAutoFocus>
                    <label class="hx-label is-text-uppercase"><i class="icon icon-search is-small"></i> Search for the patient's primary GP</label>
                    <div class="hx-help">Search and select the primary GP for Horatio (Bud) Farnswell</div>
                  </div>
                  <i class="hx-icon icon-close-empty clearBtn" *ngIf="showResults" (click)="linkMember=''"></i>
                </div>
              </div>
              <div class="hx-column is-3"></div>
            </div>
            <ng-container *ngIf="showResults">
              <div class="hx-flex hx-flex-justify-between hx-flex-align-center mt-9 my-4">
                <h6 class="is-text-uppercase my-0">Results</h6>
              </div>
              <table class="hx-table is-striped results">
                <thead>
                <tr>
                  <th class="results__name">Name</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let person of people" >
                  <td *ngIf="hasAssigned(person)"><b>{{person.assigned.name}}</b><br>{{getProviderTypeName(person.type)}}</td>
                  <td *ngIf="!hasAssigned(person)"><b>Joe Blow</b><br>{{getProviderTypeName(person.type)}}</td>
                  <td><div class="hx-flex"><button class="hx-button is-small">Assign</button></div></td>
                </tr>

                </tbody>
              </table>
            </ng-container>
                <br>
                <p class="has-text-right">
                  <button class="hx-button is-primary" (click)="selectStep(2)"><span>Horatio's Goal</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
                </p>
          </div>
        </div>
        <!-- Select Horatios goal -->
        <div class="hx-stepper-content" *ngIf="i===2 && step.active">
          <div class="hx-stepper-wrapper">
            <div class="hx-columns">
              <div class="hx-column">
                <div class="hx-input-control my-4">
<!--                  <textarea id="textarea-sample" class="hx-textarea" required rows="8"></textarea>
                  <label for="textarea-sample" class="hx-label">ENTER HORATIO'S GOAL</label>
                  <div class="hx-help">Search and select a healthcare professional for Horatio Farnswell</div>
                      <textarea name="textarea-sample" class="hx-textarea" placeholder="E.g. I’d like to be able to walk to the end of the street without becoming short of breath"></textarea>
                      <label for="textarea-sample" class="hx-label">ENTER HORATIO'S GOAL</label>
                      <div class="hx-help">Concisely record the patient's goal for this care plan (in their own words)</div> -->
                          <input class="hx-input" type="text" required>
                          <label class="hx-label">ENTER THE PATIENT'S GOAL (OPTIONAL)</label>
                          <div class="hx-help">Concisely record the patient's goal for this care plan (in their own words)</div>
                </div>
              </div>
            </div>
            <br>
            <p class="has-text-right">
              <button class="hx-button is-primary" (click)="selectStep(3)"><span>Health Summary</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
            </p>
          </div>
        </div>
      <!-- Health Summary -->
      <div class="hx-stepper-content" *ngIf="i===3 && step.active">
        <div class="hx-stepper-wrapper">
          <hx-tabset #planSummaryTabs [justified]="false">
            <hx-tab heading="Conditions">
              <app-conditions (onSelectTab)="selectTab($event)"></app-conditions>
            </hx-tab>
            <hx-tab heading="Medications">
              <app-medications  (onSelectTab)="selectTab($event)"></app-medications>
            </hx-tab>
            <hx-tab heading="Allergies">
              <table class="hx-table is-striped">
                <thead>
                <tr>
                  <th width="1"><div class="hx-checkbox-control">
                    <input id="checkbox-all" name="all-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
                    <label for="checkbox-all" class="hx-label"></label>
                  </div></th>
                  <th>Drug Name</th>
                  <th>Strength</th>
                  <th>Dosage</th>
                  <th>Date</th>
                  <th width="25%">Reason/Condition</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><div class="hx-checkbox-control">
                    <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
                    <label for="checkbox-19" class="hx-label"></label>
                  </div></td>
                  <td>ALLOPURINOL tablet</td>
                  <td>100mg</td>
                  <td>1 daily</td>
                  <td>2016</td>
                  <td>
                    <div class="hx-flex">
                      <div class="hx-input-control mb-0">
                        <div class="hx-select-control">
                          <select class="hx-select" id="state">
                            <option value="">Please select</option>
                            <option>Gout</option>
                            <option>Ischaemic Heart Disease (IHD)</option>
                            <option>Allergic Rhinitis</option>
                            <option>Diabetes Mellitus Type II</option>
                          </select>
                        </div>
                      </div>
                      <button class="hx-button is-round is-flat is-small">
          <span class="hx-icon-control">
            <i class="hx-icon icon-plus-outline"></i>
          </span>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>

              <p class="has-text-right">
                <button class="hx-button" (click)="selectTab(1)"><span class="hx-icon-control"><span class="hx-icon icon-angle-left"></span></span><span>Medications</span> </button>
                <button class="hx-button is-primary" (click)="selectTab(3)"><span>Immunisations</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
              </p>
            </hx-tab>
            <hx-tab heading="Immunisations">
              <table class="hx-table is-striped">
                <thead>
                <tr>
                  <th width="1"><div class="hx-checkbox-control">
                    <input id="checkbox-all" name="all-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
                    <label for="checkbox-all" class="hx-label"></label>
                  </div></th>
                  <th>Drug Name</th>
                  <th>Strength</th>
                  <th>Dosage</th>
                  <th>Date</th>
                  <th width="25%">Reason/Condition</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><div class="hx-checkbox-control">
                    <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
                    <label for="checkbox-19" class="hx-label"></label>
                  </div></td>
                  <td>ALLOPURINOL tablet</td>
                  <td>100mg</td>
                  <td>1 daily</td>
                  <td>2016</td>
                  <td>
                    <div class="hx-flex">
                      <div class="hx-input-control mb-0">
                        <div class="hx-select-control">
                          <select class="hx-select" id="state">
                            <option value="">Please select</option>
                            <option>Gout</option>
                            <option>Ischaemic Heart Disease (IHD)</option>
                            <option>Allergic Rhinitis</option>
                            <option>Diabetes Mellitus Type II</option>
                          </select>
                        </div>
                      </div>
                      <button class="hx-button is-round is-flat is-small">
          <span class="hx-icon-control">
            <i class="hx-icon icon-plus-outline"></i>
          </span>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>

              <p class="has-text-right">
                <button class="hx-button" (click)="selectTab(2)"><span class="hx-icon-control"><span class="hx-icon icon-angle-left"></span></span><span>Allergies</span> </button>
                <button class="hx-button is-primary" (click)="selectTab(4)"><span>Family History</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
              </p>
            </hx-tab>
            <hx-tab heading="Family History">
              <table class="hx-table is-striped">
                <thead>
                <tr>
                  <th width="1"><div class="hx-checkbox-control">
                    <input id="checkbox-all" name="all-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
                    <label for="checkbox-all" class="hx-label"></label>
                  </div></th>
                  <th>Drug Name</th>
                  <th>Strength</th>
                  <th>Dosage</th>
                  <th>Date</th>
                  <th width="25%">Reason/Condition</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><div class="hx-checkbox-control">
                    <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
                    <label for="checkbox-19" class="hx-label"></label>
                  </div></td>
                  <td>ALLOPURINOL tablet</td>
                  <td>100mg</td>
                  <td>1 daily</td>
                  <td>2016</td>
                  <td>
                    <div class="hx-flex">
                      <div class="hx-input-control mb-0">
                        <div class="hx-select-control">
                          <select class="hx-select" id="state">
                            <option value="">Please select</option>
                            <option>Gout</option>
                            <option>Ischaemic Heart Disease (IHD)</option>
                            <option>Allergic Rhinitis</option>
                            <option>Diabetes Mellitus Type II</option>
                          </select>
                        </div>
                      </div>
                      <button class="hx-button is-round is-flat is-small">
          <span class="hx-icon-control">
            <i class="hx-icon icon-plus-outline"></i>
          </span>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>

              <p class="has-text-right">
                <button class="hx-button" (click)="selectTab(3)"><span class="hx-icon-control"><span class="hx-icon icon-angle-left"></span></span><span>Immunisations</span> </button>
                <button class="hx-button is-primary" (click)="selectTab(5)"><span>Social History</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
              </p>
            </hx-tab>
            <hx-tab heading="Social History">
              <table class="hx-table is-striped">
                <thead>
                <tr>
                  <th width="1"><div class="hx-checkbox-control">
                    <input id="checkbox-all" name="all-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
                    <label for="checkbox-all" class="hx-label"></label>
                  </div></th>
                  <th>Drug Name</th>
                  <th>Strength</th>
                  <th>Dosage</th>
                  <th>Date</th>
                  <th width="25%">Reason/Condition</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><div class="hx-checkbox-control">
                    <input id="checkbox-19" name="19-checkbox" type="checkbox" class="hx-checkbox" title="Select All" />
                    <label for="checkbox-19" class="hx-label"></label>
                  </div></td>
                  <td>ALLOPURINOL tablet</td>
                  <td>100mg</td>
                  <td>1 daily</td>
                  <td>2016</td>
                  <td>
                    <div class="hx-flex">
                      <div class="hx-input-control mb-0">
                        <div class="hx-select-control">
                          <select class="hx-select" id="state">
                            <option value="">Please select</option>
                            <option>Gout</option>
                            <option>Ischaemic Heart Disease (IHD)</option>
                            <option>Allergic Rhinitis</option>
                            <option>Diabetes Mellitus Type II</option>
                          </select>
                        </div>
                      </div>
                      <button class="hx-button is-round is-flat is-small">
          <span class="hx-icon-control">
            <i class="hx-icon icon-plus-outline"></i>
          </span>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>

              <p class="has-text-right">
                <button class="hx-button" (click)="selectTab(4)"><span class="hx-icon-control"><span class="hx-icon icon-angle-left"></span></span><span>Family History</span> </button>
                <button class="hx-button is-primary" (click)="gotoPlanDetails()"><span>Plan Details</span> <span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
              </p>
            </hx-tab>
          </hx-tabset>
        </div>
      </div>
        <!-- Plan Detail -->
        <div class="hx-stepper-content" *ngIf="i===4 && step.active">
          <div class="hx-stepper-wrapper">


            <app-select-template></app-select-template>


          </div>
        </div>
      </ng-container>
      <!-- items here end -->
    </div>
  </div>
  </div>

</section>
