<div class="hx-page hx-flex">
  <main class="hx-page-body">
    <aside class="hx-sidebar has-blue-gradient hx-flex hx-flex-column pt-0" [class.is-minified]="isSidebarMinified" *ngIf="!isSetup">
      <ul class="hx-nav hx-nav-vertical">
        <li class="hx-nav-item hx-nav-brand">
          <div class="brandContainer" *ngIf="!isSidebarMinified">Enli | &nbsp;<span class="is-text-bold">Care Planning</span></div>
          <div class="brandContainer brandContainer__minified" *ngIf="isSidebarMinified">Enli</div>
        </li>
        <li class="hx-nav-item">
          <a class="hx-nav-link" [routerLink]="['/care-plan/dashboard']" [class.is-active]="isDashboardActive"><i class="icon icon-dashboard-outline"></i> <span>Dashboard</span></a>
        </li>
        <li class="hx-nav-item">
          <a class="hx-nav-link" [routerLink]="['/care-plan']" [class.is-active]="isPlanActive"><i class="icon icon-list-outline"></i> <span>Care Plan</span></a>
        </li>

      </ul>
      <hr>
      <ul class="hx-nav hx-nav-vertical">
        <li class="hx-nav-item">
          <a class="hx-nav-link" [routerLink]="['/tracking']" routerLinkActive="is-active"><i class="icon icon-compass-outline"></i> <span>Care Plan Tracking</span></a>
        </li>
      </ul>
      <div class="hx-spacer"></div>
      <ul class="hx-nav hx-nav-vertical">
        <li class="hx-nav-item hx-flex-justify-center">
          <button class="hx-button is-round is-transparent is-small is-flat" (click)="toggleSidebar()"><i class="hx-icon is-text-white is-medium" [class.icon-angle-left]="!isSidebarMinified"  [class.icon-angle-right]="isSidebarMinified"></i></button>
        </li>
      </ul>
    </aside>
    <section class="hx-section pt-0 pb-0 pl-0 pr-0 hx-flex hx-flex-column scrollable-y">
        <router-outlet></router-outlet>
    </section>
  </main>
</div>
<hx-modal-placeholder></hx-modal-placeholder>
