@import "../../node_modules/@hxui/css/static/static/scss/variables";

.patientDetails{
  &__demographics{
    display:flex;
    justify-content: space-between;
    min-width:48rem;
    margin-left:2rem;
  }
}

.patientDetails.hx-toolbar{
  background-color:#fff;
}


.brandContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.2rem;
  padding-bottom: .9rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 100%;

  &__minified{
      padding:1rem 0 0.7rem;
      font-weight:bold;

  }
}
