
<div class="hx-flex hx-flex-1">
  <div class="hx-sidebar is-scrollable py-1 teamMemberSidebar" *ngIf="!isGeneratePlan">

        <div class="hx-toolbar">
          <span>Team Members</span>
        </div>

        <ul class="hx-nav hx-nav-vertical mb-8 teamMemberNav">
          <li class="hx-nav-item" *ngFor="let member of (teamMembers$ | async)">
            <a class="hx-nav-link" [routerLink]="['/care-plan/sharing/team-member',member.id]" routerLinkActive="is-active">
              <div>
                <div class="is-text-uppercase is-text-bold">{{getProviderTypeName(member.type)}}</div>
                <div class="is-text-lighter" *ngIf="hasAssigned(member)">{{member.assigned.name}}</div>
                <div class="hx-badge is-warning is-small" *ngIf="!hasAssigned(member)"><span class="hx-badge-content">Unassigned</span></div>
              </div>
            </a>
          </li>
        </ul>
  </div>

  <section class="hx-section pl-4 pr-4 scrollable-y is-comfortable">
    <router-outlet></router-outlet>
  </section>
  <div class="hx-sidebar py-0 hx-flex hx-flex-column">
    <div class="hx-toolbar">
      <span>Activity Stream</span>
      <div class="hx-spacer"></div>
      <a class="hx-button is-flat">
        <span class="hx-icon-control"><i class="icon icon-more-vertical"></i></span>
      </a>
    </div>
    <div class="hx-flex-1 px-4 py-2 is-divided">
      <ul class="hx-list has-status is-joined activityStream__progress">
        <li class="is-success is-checked">
          <h6 class="hx-title">Creation & patient consent</h6>
          <p><em>20.04.2017</em></p>
        </li>
        <li class="is-success is-checked">
          <h6 class="hx-title">Last update</h6>
          <p><em>20.04.2017</em></p>
        </li>
        <li class="is-not-checked is-warning  pb-0">
          <h6 class="hx-title">Review due</h6>
          <p><em>20.04.2017</em></p>
        </li>
      </ul>
    </div>
  </div>
</div>

