
<div class="hx-flex hx-flex-1">
  <div class="hx-sidebar is-scrollable py-1">
    <div class="hx-toolbar">
      <span>Health Summary</span>
      <div class="hx-spacer"></div>
      <a class="hx-button is-flat" [routerLink]="['/care-plan/setup']">
        <span class="hx-icon-control"><i class="hx-icon icon-edit"></i></span>
      </a>
    </div>
    <ul class="hx-nav hx-nav-vertical mb-8">
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Conditions</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Medications</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Allergies</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Immunisations</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Family History</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Social History</a>
      </li>
    </ul>


    <div class="hx-toolbar is-divided">
      <span>Patient problems,<br>needs or relevant<br>conditions</span>
      <div class="hx-spacer"></div>
      <a class="hx-button is-flat" [routerLink]="['/care-plan/setup']">
        <span class="hx-icon-control"><i class="hx-icon icon-edit"></i></span>
      </a>
    </div>
    <ul class="hx-nav hx-nav-vertical mb-8">

      <li class="hx-nav-heading">
        <h6 class="is-text-info">Chronic heart disease</h6>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Understanding of chronic heart disease</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link is-active">Minimise Ongoing Cardiac</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Chest Pain Action Plan</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Nutrition</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Weight</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Physical Activity</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Alcohol</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Cholesterol/Lipids</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Blood Pressure</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Medication Review</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Medication Management</a>
      </li>
      <li class="hx-nav-item">
        <a href="#" class="hx-nav-link">Optimise Mobility</a>
      </li>
    </ul>
  </div>
  <section class="hx-section pl-4 pr-4 scrollable-y">
    <div class="hx-flex hx-flex-justify-between hx-flex-align-center mb-4">
      <div>
      <h6 class="is-text-uppercase my-0 is-text-lighter">PATIENT problems, needs or relevant conditions</h6>
      <h3 class="is-text-info is-text-uppercase">Obesity</h3>
      </div>
      <button class="hx-button is-primary is-flat hx-flex-align-self-start"><span class="hx-icon-control"><i class="hx-icon icon-check-outline"></i></span><span>Save Template</span></button>
    </div>
    <h4 class="is-text-info is-text-uppercase">Goals</h4>


    <div class="hx-tab-container">
      <ul class="hx-nav hx-nav-tabs">
        <li class="hx-nav-item" *ngFor="let tab of tabs; let i = index;" [class.is-active]="tab.active">
          <a class="hx-nav-link" [class.is-active]="tab.active" (click)="selectTab(i)">
            <span>{{tab.title}}</span>
          </a>
        </li>
        <li class="hx-nav-item">
          <!-- <a class="hx-nav-link is-text-lighter" (click)="addGoal()"> -->
            <div class="hx-flex">
                <button class="hx-button is-primary is-flat" (click)="addGoal()"><span class="hx-icon-control"><i class="hx-icon icon-plus-outline"></i></span><span>Add Goal</span></button>
            </div>
          <!-- </a> -->
        </li>
      </ul>
      <div class="hx-tab-content">
        <!-- goal progress -->
       <app-goals [goal]="goalsProgress" [showRemoveGoal]="true" ></app-goals>
       
       <!-- Goals and health needs -->
        <app-goals [goal]="goalsHealth" class="mt-8"></app-goals>

        <!-- Metrics & measurements -->
        <app-metrics-measurements></app-metrics-measurements>

        <!-- Tasks -->
       <app-tasks-correspondence></app-tasks-correspondence>

      </div>
    </div>
  </section>
  <div class="hx-sidebar py-0 hx-flex"
       #timelineSidebar
       mwlResizable
       [enableGhostResize]="true"
       [resizeEdges]="{bottom: false, right: false, top: false, left: true}"
       (resizeEnd)="onResizeEnd($event)">
    <div class="hx-sidebar-resizer"><i class="hx-icon icon-angle-left is-small is-left"></i><i class="hx-icon icon-angle-right is-small is-right"></i></div>
    <app-patient-timeline *ngIf="showTimeline" (onLoadArtefact)="onLoadArtefact($event)"></app-patient-timeline>
    <app-patient-timeline-detail  *ngIf="!showTimeline" (onGoBack)="showTimeline=true"></app-patient-timeline-detail>
  </div>
</div>

