@import "../../../../node_modules/@hxui/css/static/static/scss/variables";

mwlResizable {
  box-sizing: border-box; // required for the enableGhostResize option to work
}


.hx-sidebar-resizer{
  display:none
}
.resize-left-hover{
  position:relative;
  overflow:initial !important;
  .hx-sidebar-resizer {
    display:block;
    &:before{
      content: '';
      height: 100%;
      left: -1px;
      position: absolute;
      transition: background-color 300ms ease-in-out 200ms;
      -webkit-transition: background-color 300ms ease-in-out 200ms;
      width: 2px;
      background-color:$color-primary;
    }
    .is-left {
      top: 50%;
      left: -1.2rem;
      position: absolute;
      margin-top: -12px;
      color: $color-primary;
    }
    .is-right {
      top: 50%;
      left: -0.3rem;
      position: absolute;
      margin-top: -12px;
      color: $color-primary;
    }
  }
}
