
<div class="hx-toolbar">
  <a class="hx-button is-flat" (click)="goBack()">
    <span class="hx-icon-control"><i class="icon icon-angle-left"></i></span>
    <span>Patient Timeline</span>
  </a>
  <div class="hx-spacer"></div>
  <a class="hx-button is-flat is-primary">
    <span class="hx-icon-control"><i class="icon icon-angle-up is-primary"></i></span>
  </a>
  <a class="hx-button is-flat is-primary">
    <span class="hx-icon-control"><i class="icon icon-angle-down is-primary"></i></span>
  </a>
</div>
<div class="timelineContainer detailMeta is-divided">
  <div class="hx-flex">
  <div class="iconContainer"><i class="icon is-text-dark is-large"
          [class.icon-file-outline]="artefact.type===ArtefactType.All"
          [class.icon-list-outline]="artefact.type===ArtefactType.ConsultNotes"
          [class.icon-arrow-right]="artefact.type===ArtefactType.CorrespondenceIn"
          [class.icon-arrow-left]="artefact.type===ArtefactType.CorrespondenceOut"
          [class.icon-pathology-outline]="artefact.type===ArtefactType.Pathology"
          [class.icon-radiology]="artefact.type===ArtefactType.Radiology"></i></div>
    <div class="hx-flex hx-flex-column hx-flex-justify-center">
      <small class="is-text-lighter">{{artefact.date}}</small>
        <div><ng-container [ngSwitch]="artefact.type">
          <span class="is-text-dark is-text-capitalise is-text-bold" *ngSwitchCase="ArtefactType.All">All Documents</span>
          <span class="is-text-dark is-text-capitalise is-text-bold" *ngSwitchCase="ArtefactType.ConsultNotes">Consult Notes</span>
          <span class="is-text-dark is-text-capitalise is-text-bold" *ngSwitchCase="ArtefactType.CorrespondenceIn">Correspondence In</span>
          <span class="is-text-dark is-text-capitalise is-text-bold" *ngSwitchCase="ArtefactType.CorrespondenceOut">Correspondence Out</span>
          <span class="is-text-dark is-text-capitalise is-text-bold" *ngSwitchCase="ArtefactType.Pathology">Pathology Results</span>
          <span class="is-text-dark is-text-capitalise is-text-bold" *ngSwitchCase="ArtefactType.Radiology">Radiology Results</span>
        </ng-container></div>
      {{artefact.description}}
    </div>
  </div>
</div>
<div class="timelineContainer is-divided is-perforated">
  <div *ngIf="artefact.hcp!==''">
    <h6 class="mt-5 mb-1 is-text-info is-text-uppercase">Practitioner</h6>
    {{artefact.hcp}}
  </div>

  <div *ngIf="!linkDocEditMode" class="linkDocument pb-4" (mouseenter)="toggleEditHint()" (mouseleave)="toggleEditHint()" (click)="editLinkDoc()">
    <h6 class="mt-5 mb-1 is-text-info is-text-uppercase">Link Document</h6>
    <span *ngIf="artefact.linked">{{artefact.linkedMember.name}}<span *ngIf="showEditHint" class="editIcon hx-icon icon-edit is-text-lighter"></span></span>
    <button class="hx-button" *ngIf="!artefact.linked"><span class="hx-icon-control"><i class="hx-icon icon-plus-outline"></i></span><span>Add Member</span></button>
  </div>



  <div *ngIf="linkDocEditMode" (clickOutside)="linkDocEditMode=false">
    <div class="hx-input-control mt-8 mb-1 pr-5">
      <input class="hx-input" type="text"
             [(ngModel)]="linkMember"
             [typeahead]="people"
             typeaheadOptionField="name"
             (typeaheadOnSelect)="onLinkMember($event)"
             required
             appAutoFocus>
      <label class="hx-label is-text-uppercase"><i class="icon icon-search is-small"></i> Link Document</label>
      <div class="hx-help">Link document to team member</div>
    </div>
  </div>
</div>
  <div class="hx-flex hx-flex-column hx-flex-1">
  <div *ngIf="hasLinkedMember && !linkDocEditMode" class="mb-1 hx-flex hx-flex-column hx-flex-1">
    <hx-tabset class=" hx-flex hx-flex-column hx-flex-1">
      <hx-tab heading="Assigned Tasks" class="hx-flex-1 is-scrollable">
        <div class="mb-4 is-perforated" *ngFor="let task of (tasks$ | async)">
          <small class="is-text-uppercase is-text-info is-text-bold">{{task.title}}</small>
          <div>{{task.description}}</div>
          <app-summary></app-summary>
        </div>
      </hx-tab>
      <hx-tab heading="Documents"></hx-tab>
    </hx-tabset>
  </div>
</div>
