@import "../../../../../node_modules/@hxui/css/static/static/scss/variables";

app-patient-timeline-detail {

  .detailMeta{
    background-color: rgba(246, 246, 249, 0.4);
  }

  .timelineContainer {
    padding: 1rem;
  }


  .linkDocument{
    > span {
      position: relative;
      cursor: pointer;
      .editIcon {
        right: -2rem;
      }
    }
  }

  .iconContainer {
    border: 4px solid $border-color;
    border-radius: 4rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:1rem;
  }
}
