$icons-path: '../node_modules/@hxui/css/static/static/fonts/';
@import '../node_modules/@hxui/css/static/static/scss/hxui.scss';
@import './app/app.component';
@import 'app/care-plan/care-plan.component';
@import 'app/care-plan/setup/conditions/conditions.component';
@import 'app/care-plan/setup/medications/medications.component';
@import 'app/care-plan/setup/setup.component';
@import 'app/care-plan/plan/plan.component';
@import "app/care-plan/plan/metrics-measurements/metrics-measurements.component";
@import "app/shared/components/goals/goals.component";
@import "app/care-plan/plan/patient-timeline/patient-timeline.component";
@import "app/care-plan/plan/patient-timeline-detail/patient-timeline-detail.component";
@import "app/care-plan/setup/select-template/select-template.component";
@import "app/care-plan/plan/patient-timeline-detail/summary/summary.component";
@import "app/care-plan/sharing/sharing.component";
@import "app/care-plan/sharing/team-member/team-member.component";
@import "app/care-plan/dashboard/dashboard.component";
@import "app/tracking/tracking.component";

.is-sticky{
  position: sticky;
  top:0;
  z-index:9;
}



.is-divided{
  border-top: 1px solid $border-color;
}

.is-scrollable{
  overflow:auto;
}

.activityStream__progress{
  > li:last-child:after{
    background-color:transparent !important;
  }
}

.hx-stepper.is-narrow .hx-stepper-step{
  padding:0.9rem;
}

.hx-button-split{
  display: flex;
  .hx-button:first-child{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right:none;
  }
  .hx-button:last-child{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1rem;
    border-left-color: rgba(255,255,255,0.3);
  }
}

.splashLoader{
  height:100vh;
  width:100vw;
  display:flex;
  align-items: center;
  justify-content: center;
}



.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: $color-primary;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  } 35% {
      -webkit-transform: scale3D(0, 0, 1);
      transform: scale3D(0, 0, 1);
    }
}

.hx-header:not(:first-child){
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

// if-flat option to nav
.hx-nav.is-flat{
  .hx-nav-item {
    .hx-nav-link {
      background-color: #fff;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      border-bottom: 2px solid transparent;
      padding-top: 1rem;
      padding-bottom: 1rem;
      align-items: center;

      .hx-icon{
        margin-right:.5rem;
        color:$color-dark;
        font-size:23px;
        height:1.3rem;
        width:1.3rem;
      }

      &:hover{
        color:$color-primary;
        span.hx-icon,
        i.hx-icon{
          color:$color-primary;
        }
      }
    }
    .hx-nav-link.is-active {
      border-bottom: 2px solid $color-primary;
      .hx-icon{
        color:$color-primary;
      }
    }
  }
}

//tab icons
.hxui-reset .hx-nav-tabs{
  .hx-nav-link {
    &:hover{
      box-shadow:none;
    }
    .hx-icon {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}

// toolbar
.hx-toolbar{
  flex-shrink:0;
}

.clearBtn{
  cursor: pointer;
}

// modal
.hx-modal-card.is-large{
  width:1000px;
}
