

<div class="hx-toolbar pl-3 is-perforated">
  <span *ngIf="showList">Select a template</span>
  <span *ngIf="!showList">Selected: <span class="is-text-primary">{{templates[selectedTemplate].title}}</span></span>
  <div class="hx-spacer"></div>
</div>

<ul class="hx-list-group" *ngIf="showList">
  <li *ngFor="let temp of templates; let i = index;">
    <a (click)="selectTemplate(i)">
      <div class="hx-list-content"><p><b>{{temp.title}}</b><br>{{temp.description}}</p></div>
      <div class="hx-list-action">
        <i class="hx-icon icon-angle-right"></i>
      </div>
    </a>
  </li>
</ul>


  <table class="hx-table" *ngIf="!showList">
    <thead>
      <tr>
        <th colspan="2">
          Choose patient problems, needs or relevant conditions
        </th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let problem of patientProblems; let i = index;">
      <td width="20" class="pl-6"><div class="hx-checkbox-control hx-flex">
        <input id="checkbox-{{i}}" name="{{i}}-checkbox" type="checkbox" class="hx-checkbox" title="{{problem.condition}}"  [checked]="problem.checked" />
        <label for="checkbox-{{i}}" class="hx-label"></label>
      </div></td>
      <td *ngIf="!problem.edit">{{problem.condition}}</td>
      <td *ngIf="problem.edit" class="has-text-field editableCol">
        <input class="hx-input" type="text" [(ngModel)]="problem.condition"  placeholder="Add Patient problem, need or relevant condition" required>
        <div class="inputActions">
          <a class="hx-button is-small">
            <span class="hx-icon-control"  (click)="cancelPatientProblem(i)"><i class="icon icon-close-empty"></i></span>
          </a>
          <a class="hx-button is-primary is-small">
            <span class="hx-icon-control" (click)="savePatientProblem(i)"><i class="icon icon-check-empty"></i></span>
          </a>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"  class="pl-6">
        <a href="#" (click)="addNewPatientProblem()" class="is-gray is-flex hx-flex-align-center">
          <i class="hx-icon icon-plus-outline mr-2"></i>
          Patient problem, need or relevant condition
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <p class="has-text-right pr-3 pb-2" *ngIf="!showList">
    <button class="hx-button" (click)="goBack()"><span class="hx-icon-control"><span class="hx-icon icon-angle-left"></span></span><span>Select a template</span></button> <button class="hx-button is-primary" [routerLink]="['/care-plan/plan']"><span>Create Plan</span><span class="hx-icon-control"><span class="hx-icon icon-angle-right"></span></span></button>
  </p>
