@import "../../../../../node_modules/@hxui/css/static/static/scss/variables";

.hx-table > tbody.hx-table-group  > tr > th{
  color:$color-blue;
}
.hx-table > tbody.hx-table-group.is-primary > tr > th {
    background-color: $color-primary;
    color: #fff;
}
