<div class="hx-flex hx-flex-justify-between hx-flex-align-center mt-8 mb-4">
  <h6 class="is-text-uppercase my-0">Metrics and Measurements</h6>
  <div class="hx-flex">
  <button class="hx-button is-primary is-flat" (click)="toggleHistory()"><span class="hx-icon-control"><i class="hx-icon icon-recalls"></i></span><span>View {{showHistory? 'Current' : 'History'}}</span></button>
  <button class="hx-button is-primary is-flat"><span class="hx-icon-control"><i class="hx-icon icon-plus-outline"></i></span><span>Add Metric</span></button>
  </div>
</div>
<div class="metrics" *ngIf="!showHistory">
  <div class="hx-card metrics__item" *ngFor="let metric of metrics">
    <div class="measurement">
      <div class="label">{{metric.measurement.label}}</div>
      <div class="value">
        <span class="{{metric.measurement.css}}">{{metric.measurement.value}}</span>
        <span>{{metric.measurement.suffix}}</span>
      </div>
      <small class="date">{{metric.measurement.date}}</small>
    </div>
    <div class="target">
      <div class="label">Target</div>
      <div class="value">{{metric.target}}</div>
    </div>
  </div>
</div>
<div class="hx-card" *ngIf="showHistory">
  <table class="hx-table is-striped is-narrow history">
    <thead>
    <tr>
      <th>Metric</th>
      <th>Graph</th>
      <th class="is-text-center">02/01/2018</th>
      <th class="is-text-center">13/04/2017</th>
      <th class="is-text-center">24/09/2018</th>
      <th class="is-text-center">21/03/2010</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Weight (Kg)</td>
      <td><i class="hx-icon icon-heartbeat is-large"></i></td>
      <td class="is-text-warning is-text-center">127</td>
      <td class="is-text-center"></td>
      <td class="is-text-center">104</td>
      <td class="is-text-center">95</td>
    </tr>
    <tr>
      <td>BMI (Kg/m<sup>2</sup>)</td>
      <td><i class="hx-icon icon-heartbeat is-large"></i></td>
      <td class="is-text-warning is-text-center">41.9</td>
      <td class="is-text-center"></td>
      <td class="is-text-center">34.4</td>
      <td class="is-text-center">31.4</td>
    </tr>
    <tr>
      <td>Weight Circumference (cm)</td>
      <td><i class="hx-icon icon-heartbeat is-large"></i></td>
      <td class="is-text-warning is-text-center">128</td>
      <td class="is-text-center"></td>
      <td class="is-text-bold is-text-center">125</td>
      <td class="is-text-center">116</td>
    </tr>
    <tr>
      <td>TSH (mIU/L)</td>
      <td><i class="hx-icon icon-heartbeat is-large"></i></td>
      <td class="is-text-center">2.0</td>
      <td class="is-text-center">3.0</td>
      <td class="is-text-center"></td>
      <td class="is-text-center">4.2</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">Linked result/report</td>
        <td class="is-text-center"><div class="linkedResult"><i class="hx-icon icon-pathology"></i></div> <div class="linkedResult"><i class="hx-icon icon-imaging is-text-primary"></i></div></td>
        <td class="is-text-center"><div class="linkedResult"><i class="hx-icon icon-imaging is-text-primary"></i></div></td>
        <td class="is-text-center"><div class="linkedResult"><i class="hx-icon icon-pathology"></i></div> </td>
        <td class="is-text-center"><div class="linkedResult"><i class="hx-icon icon-pathology"></i></div> <div class="linkedResult"><i class="hx-icon icon-imaging is-text-primary"></i></div></td>
    </tr>
    </tfoot>
  </table>
</div>
