@import "../../../../../node_modules/@hxui/css/static/static/scss/variables";


.metrics{
  display:flex;
  flex-wrap: wrap;

  &__item{
    flex:1 0 0;
    text-transform: uppercase;
    font-weight:400;
    min-width:14rem;

    &:not(:first-child){
      border-left:1px solid $border-color;

    }

    .measurement{
      padding: 1rem;
      display:flex;
      flex-direction: column;

      .label{
        color:$color-gray-lighter;
      }
      .value{
        color:$color-gray-light;
        span:first-child{
          font-weight:400;
          font-size: 3rem;
        }
        span:last-child{
          text-transform: initial;
        }
      }
      small.date{
        color:$color-gray-lighter;
        align-self: flex-end;
        font-weight:400;
      }
    }
    .target{
      padding: 1rem;
      display:flex;
      justify-content: space-between;
      align-items: center;
      border-top:1px solid $border-color;
      .label{
        color:$color-gray-lighter;
      }
      .value{
        color:$color-gray-light;
        font-weight:bold;
      }
    }
  }
}

table.history{

  thead th,
  tbody td{
    &:nth-child(2){
      border-right:1px solid #aeadad;
    }
  }
  tfoot tr td{
    border-top:1px solid #aeadad;
    padding: 1em 0.5em;

    .linkedResult{
      border:1px solid $border-color;
      padding:.2rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      border-radius: 1rem;
      height:2rem;
      width:2rem;
      display:inline-block;
    }
  }
}
