<div class="hx-flex hx-flex-justify-between hx-flex-align-center mb-4">
  <div>
    <h6 class="is-text-uppercase my-0 is-text-lighter">Plan Documents</h6>
    <h3 class="is-text-info is-text-uppercase">Update Care Plan</h3>
  </div>
</div>

<div class="hx-card">
  <div class="hx-card-content">
    <div class="hx-columns">
      <div class="hx-column is-10">
        <div *ngIf="!isPublished">
        <h6 class="mb-5">Changes to the care plan will not be shared to team members unless it is published.</h6>
        Care plan documents will be generated automatically.<br>
          A new progress note will be created automatically, summarising the changes to the care plan.
        </div>
        <div *ngIf="isPublished">
          The care plan has not been modified and there are no pending changes to be published.<br>
          <p><small><b>Last published:</b> 21/06/2017</small></p>
        </div>
      </div>
      <div class="hx-column is-2 has-text-right hx-flex hx-flex-column hx-flex-space-between">
        <button class="hx-button is-primary" (click)="onPublishHandler()" [disabled]="isPublished" [class.is-loading]="isPublishing">Publish</button>
        <div class="mt-7" *ngIf="!isPublished"><small><b>Last published:</b> 21/06/2017</small></div>
      </div>
    </div>
  </div>
</div>

<div class="hx-flex hx-flex-justify-between hx-flex-align-center mt-8 mb-4">
  <h6 class="is-text-uppercase my-0">Care plan documents</h6>
</div>

<div class="hx-card">
  <hx-tabset [justified]="false">

    <hx-tab heading="Recent">
        <div class="emptyState has-text-centered pt-5 pb-8 px-5" *ngIf="!isPublished">
          Press <b>Publish</b> to generate new care plan documents and share<br/>changes to team members.
        </div>

      <table class="hx-table is-striped carePlanDocs" *ngIf="isPublished">
        <thead>
        <tr>
          <th class="carePlanDocs__docs">Document</th>
          <th class="carePlanDocs__date"><a href="#"><i class="hx-icon icon-arrow-down"></i>Date Created</a></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Detailed Care Plan (PDF)</td>
          <td>20/05/2016</td>
          <td><button class="hx-button is-small">View / Print</button></td>
          <td><button class="hx-button is-small is-outlined is-primary">Save to patient record</button></td>
        </tr>
        <tr>
          <td>Patient Centred Care Plan (PDF)</td>
          <td>20/05/2016</td>
          <td><button class="hx-button is-small">View / Print</button></td>
          <td><button class="hx-button is-small is-outlined is-primary">Save to patient record</button></td>
        </tr>
        <tr>
          <td>Progress Note</td>
          <td>20/05/2016</td>
          <td><button class="hx-button is-small">View / Print</button></td>
          <td><button class="hx-button is-small is-outlined is-primary">Save to patient record</button></td>
        </tr>
        <tr class="saveAllContainer">
          <td colspan="3"></td>
          <td><button class="hx-button is-small is-primary saveAllBtn">Save All</button></td>
        </tr>
        </tbody>
      </table>
    </hx-tab>
    <hx-tab heading="Older Documents">

      <table class="hx-table is-striped carePlanDocs">
        <thead>
        <tr>
          <th class="carePlanDocs__docs">Document</th>
          <th class="carePlanDocs__date"><a href="#"><i class="hx-icon icon-arrow-down"></i>Date Created</a></th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>Detailed Care Plan (PDF)</td>
            <td>20/05/2016</td>
            <td><button class="hx-button is-small">View / Print</button></td>
            <td><button class="hx-button is-small">Save to patient record</button></td>
          </tr>
          <tr>
            <td>Patient Centred Care Plan (PDF)</td>
            <td>20/05/2016</td>
            <td><button class="hx-button is-small">View / Print</button></td>
            <td><button class="hx-button is-small">Save to patient record</button></td>
          </tr>
          <tr>
            <td>Detailed Care Plan (PDF)</td>
            <td>20/05/2016</td>
            <td><button class="hx-button is-small">View / Print</button></td>
            <td><button class="hx-button is-small">Save to patient record</button></td>
          </tr>
          <tr>
            <td>Patient Centred Care Plan (PDF)</td>
            <td>20/05/2016</td>
            <td><button class="hx-button is-small">View / Print</button></td>
            <td><button class="hx-button is-small">Save to patient record</button></td>
          </tr>
          <tr>
            <td>Progress Note</td>
            <td>20/05/2016</td>
            <td><button class="hx-button is-small">View / Print</button></td>
            <td><button class="hx-button is-small">Save to patient record</button></td>
          </tr>

        </tbody>
      </table>

    </hx-tab>
  </hx-tabset>

</div>

