<section class="hx-section pl-4 pr-4 scrollable-y">
<div class="hx-columns">
    <div class="hx-column dashboard__column">
      <div class="hx-card">
        <div class="hx-card-header">
          <div class="hx-card-header-title">PRIMARY GP</div>
          <div class="hx-card-header-icon py-0">
            <button class="hx-button is-flat py-0">
                <span class="hx-icon-control">
                  <i class="hx-icon icon-edit"></i>
                </span>
            </button></div>
        </div>
        <div class="hx-card-content">

          <div class="hx-columns  py-2 px-1 is-perforated">
            <div class="hx-column is-8">
              <div>
                <b class="is-text-info">Dr Bob Loblaw</b>
              </div>
            </div>
          </div>
          <div class="hx-columns  py-2 px-1 ">
            <div class="hx-column is-8">
              <div>

                <b>ABC Medical Centre</b>
                <p>123 Any Street<br>
                  Wellington, NSW 2334</p>

                <i class="hx-icon icon-iphone"></i> 0405768234<br>
                <i class="hx-icon icon-telephone-outline"></i> 02 9123 3456
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hx-column dashboard__column">
      <div class="hx-card hx-flex hx-flex-column">
        <div class="hx-card-header">
          <div class="hx-card-header-title">HORATIO'S GOAL</div>
          <div class="hx-card-header-icon py-0">
            <button class="hx-button is-flat py-0">
                <span class="hx-icon-control">
                  <i class="hx-icon icon-edit"></i>
                </span>
          </button></div>
        </div>
        <div class="hx-card-content hx-flex-1 hx-flex hx-flex-align-center hx-flex-justify-center">
          <blockquote>I’d like to be able to walk to the end of the street without becoming short of breath.</blockquote>
        </div>
      </div>
    </div>
    <div class="hx-column dashboard__column">
     <div class="hx-card">
       <div class="hx-card-header">
         <div class="hx-card-header-title">ACTIVITY STREAM</div>
       </div>
       <div class="hx-card-content">
       <ul class="hx-list has-status is-joined activityStream__progress">
         <li class="is-success is-checked">
           <h6 class="hx-title">Creation & patient consent</h6>
           <p><em>20/04/2017</em></p>
         </li>
         <li class="is-success is-checked">
           <h6 class="hx-title">Last update</h6>
           <p><em>20/04/2017</em></p>
         </li>
         <li class="is-not-checked is-warning  pb-0">
           <h6 class="hx-title">Review due</h6>
           <p><em>20/04/2017</em></p>
         </li>
       </ul>
       </div>
       <!--<div class="hx-card-footer px-3 py-3 hx-flex hx-flex-justify-center">-->
         <!--<button class="hx-button is-primary">Go to plan</button>-->
       <!--</div>-->
     </div>
    </div>
  </div>


  <div class="hx-columns">
    <div class="hx-column dashboard__column">
      <div class="hx-card">
        <div class="hx-card-header">
          <div class="hx-card-header-title is-text-uppercase">Team participation</div>
        </div>
        <div class="py-6 px-4 hx-flex hx-flex-justify-center is-perforated">
          <i class="hx-icon icon-exclamation is-warning"></i><span> Not all providers have agreed to participate</span>
        </div>
        <div>
          <table class="hx-table is-narrow is-hover teamParticipation">
            <thead>
            <tr>
              <th>Team Member</th>
              <th class="teamParticipation__participation">Participation</th>
              <th class="teamParticipation__chevron"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of (teamMembers$ | async)">
              <td>
                <div class="is-text-uppercase is-text-bold">{{getProviderTypeName(member.type)}}</div>
                <div class="is-text-lighter" *ngIf="hasAssigned(member)">{{member.assigned.name}}</div>
                <div class="hx-badge is-warning is-small" *ngIf="!hasAssigned(member)">Unassigned</div>
              </td>
              <td>
                <div class="hx-button-group">

                    <button class="hx-button is-small" [class.is-active]="!hasAssigned(member)">?</button>

                    <button class="hx-button is-small" [disabled]="!hasAssigned(member)">No</button>
                    <button class="hx-button is-small" [disabled]="!hasAssigned(member)" [class.is-active]="hasAssigned(member)">Yes</button>


                </div>
              </td>
              <td><i class="hx-icon icon-angle-right"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="hx-card-footer px-3 py-3 hx-flex hx-flex-justify-center">
          <button class="hx-button">View Timeline</button>
        </div>
      </div>
    </div>
    <div class="hx-column dashboard__column">
      <div class="hx-card">
        <div class="hx-card-header">
          <div class="hx-card-header-title is-text-uppercase">Tasks Summary</div>
        </div>
        <div class="py-6 px-4 hx-flex hx-flex-justify-center is-perforated">
          <i class="hx-icon icon-exclamation is-warning"></i><span>Tasks are overdue</span>
        </div>
        <div>
          <table class="hx-table is-narrow is-hover taskSummary">
            <thead>
            <tr>
              <th class="taskSummary__condition">Chronic Condition</th>
              <th class="taskSummary__status">Status</th>
              <th class="taskSummary__chevron"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Hyperlipidemia</td>
              <td><div class="hx-flex hx-flex-align-center "><i class="hx-icon icon-exclamation is-warning  mr-2"></i><span> 6 overdue tasks</span></div></td>
              <td><i class="hx-icon icon-angle-right"></i></td>
            </tr>
            <tr>
              <td>Obesity</td>
              <td><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-check is-success  mr-2"></i><span> Tasks up to date</span></div></td>
              <td><i class="hx-icon icon-angle-right"></i></td>
            </tr>
            <tr>
              <td>Diabetes Mellitus Type II</td>
              <td><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-check is-success  mr-2"></i><span> Tasks up to date</span></div></td>
              <td><i class="hx-icon icon-angle-right"></i></td>
            </tr>
            <tr>
              <td>Hypertension</td>
              <td><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-exclamation is-warning  mr-2"></i><span> 3 overdue tasks</span></div></td>
              <td><i class="hx-icon icon-angle-right"></i></td>
            </tr>
            <tr>
              <td>Ischaemic Heart Disease</td>
              <td><div class="hx-flex hx-flex-align-center"><i class="hx-icon icon-exclamation is-warning mr-2"></i><span> 1 overdue task</span></div></td>
              <td><i class="hx-icon icon-angle-right"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="hx-column dashboard__column">
      <div class="hx-card">
        <div class="hx-card-header">
          <div class="hx-card-header-title is-text-uppercase">Medicare Tracking</div>
        </div>
        <div class="py-6 px-4 hx-flex hx-flex-justify-center is-perforated">
          <i class="hx-icon icon-exclamation is-warning"></i><span>Billing is not complete</span>
        </div>
        <div>
          <ul class="hx-list-group">
            <li>
              <a href="">
              <div class="hx-list-content my-6 mx-3">
                <div class="hx-columns hx-flex-1">
                  <div class="hx-column hx-flex hx-flex-column hx-flex-justify-center hx-flex-align-center">
                    <small class="is-light">Care Plane type</small>
                    <h6 class=" is-success my-0">GPMP + TCA</h6>
                  </div>
                  <div class="hx-column hx-flex hx-flex-column hx-flex-justify-center hx-flex-align-center">
                    <small class="is-light">Expected MBS Items</small>
                    <h6 class="is-success my-0">721, 723</h6>
                  </div>
                  <div class="hx-column hx-flex hx-flex-column hx-flex-justify-center hx-flex-align-center">
                    <small class="is-light">Plan Created</small>
                    <h6 class="is-success my-0">21/02/2018</h6>
                  </div>
                </div>
              </div>
              <div class="hx-list-action">
                <i class="hx-icon icon-angle-right"></i>
              </div>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <table class="hx-table is-narrow is-hover medicareTracking">
            <thead>
            <tr>
              <th class="medicareTracking__mbs">MBS Item</th>
              <th class="medicareTracking__billing">Billing Date</th>
              <!-- <th class="medicareTracking__provider">Provider</th>
              <th class="medicareTracking__amount">Amount</th> -->
              <th class="medicareTracking__flag">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>721</td>
              <td>21/02/2018</td>
              <!-- <td>Dr. Bob Lowdownski</td>
              <td>$144.25</td> -->
              <td><i class="hx-icon icon-check is-success"></i></td>
            </tr>
            <tr>
              <td>723</td>
              <td class="is-text-bold">Item not billed</td>
              <!-- <td></td>
              <td></td> -->
              <td><i class="hx-icon icon-exclamation is-warning"></i></td>
            </tr>
            </tbody>
          </table>
          <p class="has-text-centered py-3 px-3">
            <small>Billing details are taken from Pracsoft</small>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
