app-dashboard {

  .hx-card{
    flex:1;
  }


  table.hx-table.is-narrow > tbody > tr > td:first-child,
  table.hx-table.is-narrow > thead > tr > th:first-child{
    padding-left:1.4rem;
  }

  table.hx-table.is-narrow > tbody > tr > td:last-child,
  table.hx-table.is-narrow > thead > tr > th:last-child{
    padding-right:1.4rem;
  }

  table.hx-table.is-narrow.is-hover > tbody > tr > td{
    cursor:pointer;
  }

  table.hx-table.is-hover > tbody:not(.hx-table-group) > tr:not(.is-selected):hover > td {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  .dashboard {
    &__column {
      display: flex !important;
    }
  }

  .teamParticipation {
    &__participation {
      width: 10%;
    }

    &__chevron {
      width: 5%;
    }
  }

  .taskSummary {
    &__condition {

    }

    &__status {
      width:35%;
    }

    &__chevron {
      width: 2%;
    }
  }
}
